@use '@/styles/vars' as *;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;

    background-color: hsl(0, 0%, 95%);
    margin: 0;
}

.container {
    max-width: $container-width + $main-shift * 2;
    margin: 0 auto;
    padding: 0 $main-shift;
}
