@use '@/styles/breakpoints' as bp;
@use '@/styles/vars' as *;

.Statistics {
    &__container {
        padding-top: 2rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.1em;
        margin: 0;
        margin-bottom: 1rem;
        color: $color-neutral-400;
    }

    &__text {
        font-size: 1.2em;
        line-height: 1.5em;
        color: $color-neutral-300;

        max-width: 500px;
        margin: 0 auto 2rem;

        margin-bottom: 4rem;
    }

    &__items {
        --gap: 5rem;

        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &__item {
        position: relative;
        padding: 0 1.5rem 2rem;
        background-color: $color-neutral-100;
        border-radius: 0.2rem;

        &:nth-child(2) {
            &::before,
            &::after {
                content: '';

                position: absolute;
                left: 50%;

                width: 0.7rem;
                height: var(--gap);

                background-color: $color-primary-100;
            }

            &::before {
                top: 0%;
                transform: translateX(-50%) translateY(-100%);
            }

            &::after {
                bottom: 0%;
                transform: translateX(-50%) translateY(100%);
            }
        }

        &-icon {
            width: 5rem;
            height: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0 auto;
            padding: 1rem;
            border-radius: 50%;
            background-color: $color-primary-200;
            transform: translateY(-50%);
        }

        &-title {
            font-size: 1.3rem;
            line-height: 1.1em;
            color: $color-neutral-400;
            margin: 0;
        }

        &-text {
            font-size: 0.9em;
            color: $color-neutral-300;
        }
    }

    @media screen and (min-width: bp.$md) {
        &__container {
            padding-bottom: 7rem;
        }

        &__items {
            flex-direction: row;
            --gap: 3rem;
        }

        &__item {
            padding: 0 clamp(1rem, 3vw, 2rem) 2rem;
            text-align: left;

            &:nth-child(2) {
                top: 1.5rem;

                &::before,
                &::after {
                    top: 50%;

                    width: var(--gap);
                    height: 0.7rem;

                    background-color: $color-primary-100;
                }

                &::before {
                    left: 0;
                    transform: translateY(-100%) translateX(-100%);
                }

                &::after {
                    right: 0;
                    left: initial;
                    transform: translateY(-100%) translateX(100%);
                }
            }

            &:nth-child(3) {
                top: 3rem;
            }

            &-icon {
                transform: translateY(-50%) translateX(-90%);
            }
        }
    }
}
