$container-width: 1200px;
$main-shift: 20px;
$color-primary: hsl(180, 66%, 49%);
$color-primary-alt: hsl(257, 27%, 26%);
$color-text: hsl(0, 0%, 75%);
$color-text-alt: hsl(257, 7%, 63%);
$color-title: hsl(255, 11%, 22%);
$color-error: hsl(0, 87%, 67%);
